body
	{padding: 0px;
		margin: 0px;
		background-image: url("zelda.jpg")}

.page-header {
	background: green;
	width: 300px;
	padding:5px;
	margin-left: 10px;
}

h1 {
	font-family: "Georgia";
}

.thumbnail {
	margin-left:10px;
	background: blue;
	color: red;
	max-width:250px;
	margin-top: -10px;
}

p {color:red;

}

.blue {width: 50px;
			height: 50px;}

.counter {
	
	height: 200px;
}



.purple {    height: 50px;
    float: right;

    margin-right: 250px;
    z-index: 80;}

    .red {
    	    height: 50px;
    margin-left: -250px;
    }

    .green {
    	    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: -48px;
    margin-left: -175px;
    }

    .number {
    	width:180px;
    }

    .randomNumber {
    	font-size: 40px;
    }

    .score {
    	font-size: 40px;
    }